@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply antialiased text-gray-900 dark:text-gray-100 bg-[#F3F4F1] dark:bg-[#1A1C18] transition-colors duration-300;
        min-height: 100vh;
    }
}